# Dependencias PHP y Composer
vendor/
composer.lock
composer.phar

# Archivos sensibles
.env
.env.local
.env.*

# Carpeta de respaldo
respaldo_git/
backup_local/

# Metadatos y residuos
*.log
*.zip
*.tar.gz
*.bak
*.swp
*.tmp

# IDEs y configuración oculta
.idea/
.vscode/
.DS_Store
__MACOSX/

# Git local
.git/
.gitignore